testvm/src/main/app/testvm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <vm:connector name="OnboardVM" validateConnections="true" doc:name="VM"/>
    <flow name="testvmFlow">
        <vm:inbound-endpoint exchange-pattern="one-way"  connector-ref="OnboardVM" doc:name="VM" address="vm://onboardQueue"/>
        <logger message="'received the following payload:' + #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
